*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '8-bit Arcade In';
    src: url(assets/fonts/8-bitArcadeIn-ef0dc9b63a8d15d3c830.ttf);
}


body {
    font-family: '8-bit Arcade In';
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

#app {
    border: 1px solid #fff;
    display: flex;
    padding: 0;
    position: relative;
}
